/*  your css code here. If applicable */
td,th{
	border : 1px solid #ccc;
	padding : 0.5rem;
	border-radius : 5px;
}
tr:nth-child(odd) td{
	background : rgb(242, 242, 242);
}
tr:nth-child(even) td{
	background : #ffffff;
}